<% layout('layout') -%>

<div class="container">
	<div class="row user-profile">
		<div class="col-sm-6 col-md-4">
			<img class="img-circle img-responsive img-center gravatar" src="<%= user.profile.picture %>" alt="<%= user.profile.name %>">

			<p>Name: <%= user.profile.name %></p>
			<p>Email: <%= user.email %></p>

			<% if (user.address === '' || typeof user.address === 'undefined') { %>
				<p>Address: <a style="color:rgb(240, 81, 54); text-decoration:underline" href="/edit-profile">Add a shipping address</a></p>
			<% } else { %> 
				<p>Address: <%= user.address %></p>
			<% } %>

			<a href="/edit-profile" class="profile-btn submit button btn btn-lg btn-info"> Edit your profile</a>
			<a href="/" class="profile-btn shop-now button btn btn-lg btn-success"> Shop now</a>				

		</div>
		<div class="col-sm-6 col-md-4">
		</div>
	</div>		
</div>


<!--<h1 class="user-profile logged-in"> Hello, <%= user.profile.name %> </h1>-->